.App {
    text-align: center;
}

.container {
    margin: 0rem;
    text-align: center;
    background-size: cover;
    max-width: 100%;
    max-height: auto;
    padding: .5rem;
    border-radius: 25px
}

.nav {
    background-color: rgb(230, 231, 235);
    color: rgb(12, 22, 42);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 0rem;
    padding: 0rem;
    border-radius: 0% 0% 5% 5%;
    width: 100%;
    height: auto;
}

.site-title {
    font-size: 2.5rem;
}

.nav ul {
    padding: 15;
    margin: 100;
    list-style: none;
    display: flex;
    gap: 0rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

* {
    box-sizing: border-box;
}

.App-logo {
    height: 0vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(38, 48, 91);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}