.creators{
    display: inline-block;
    position:absolute;
    width: 900px;
    height: 300px;
    left: 245px;
    border-radius: 25px;
    justify-content: 'center';
    text-align:left;
    margin-left:20px;
    margin-top:-70px;
  }
.header{
  font: 'Tahoma';
  color: #2072B2;
  border-radius:25px;
  text-align:left;
  margin-left: -140px;
  font-size:80px;
  margin-top: 60px;
  background-color: white;
  width: 460px;
  
}

.header1{
  text-align:center;
  font-size:45px;
}
.paragraph{
  color: white;
  position: absolute;
  margin-left:275px;
  font-size:30px;
  font: 'Tahoma';
  margin-top:-440px;
  margin-left: 480px;
  width: 700px;
}
.team{
  display: inline-block;
  position:absolute;
  width: 1200px;
  height: 600px;
  left:125px;
  top:560px;
  color: #0c4b7a;
  background-color: rgb(243, 242, 242);
  border-radius:25px;
  justify-content:'center';
  margin-top:10px;
}
.scrollable{
  height:1200px;
  overflow-y:auto;
}
.col1{
  position:absolute;
  left:25px;
  height:400px;
  width:250px;
  justify-content:'center';
}
.col2{
  position:absolute;
  left:325px;
  height:400px;
  width:250px;
}
.col3{
  position:absolute;
  left:625px;
  height:400px;
  width:250px;
}
.col4{
  position:absolute;
  left:925px;
  height:400px;
  width:250px;
}
.drew{
  color:#A202FF;
}
.chiku{
  color:#2072B2;
}
.navi{
  color:#00ABFF;
}
.ryan{
  color:#00E8FF;
}

.custom-shape-divider-bottom-1659404134 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1659404134 svg {
  position: relative;
  display: block;
  width: calc(214% + 1.3px);
  height: 99px;
}

.custom-shape-divider-bottom-1659404134 .shape-fill {
  fill: #4A90E2;
}