body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: #D3D3D3;
  margin: 0;
  padding: 0 1.5rem;
}
svg {
    display: inline-block;
    vertical-align: middle;
}

.buttonStyleEducation1{
  width: 100px;
  height:40px;
  position:fixed;
  bottom: 200px;
  right: 100px;
}
.buttonStyleEnvironment1{
  width: 100px;
  height:40px;
  position:absolute;
  bottom: 500px;
  right:100px;
}
.buttonStyleHealth1{
  width: 100px;
  height:40px;
  position:absolute;
  bottom: 800px;;
  right: 100px;
}