body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background:  linear-gradient(270deg, rgba(119,201,212,1) 0%, rgba(87,188,144,1) 35%, rgba(1,82,73,1) 100%);
  margin: 0;
  padding: 0 1.5rem;
}
svg {
    display: inline-block;
    vertical-align: middle;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item {
  width: 500px;
  height: 45px;
}