body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #77C9D4, #57BC90, #015249);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding: 0rem;
}
svg {
    display: inline-block;
    vertical-align: middle;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item {
  width: 500px;
  height: 45px;
}