.health1{
    width: 100px;
    height:40px;
    position:fixed;
    bottom: 160px;
    right: 122px;
}
.education1{
    width: 100px;
    height:40px;
    position:fixed;
    bottom: 250px;
    right: 122px;
}
.environment1{
    width: 100px;
    height:40px;
    position:fixed;
    bottom: 350px;
    right: 122px;
}
.economic1{
    width: 100px;
    height:40px;
    position:fixed;
    bottom: 580px;
    right: 122px;
}
.environmenttitle{
    width: 100px;
    height:40px;
    position:fixed;
    bottom: 380px;
    right: 132px;
}
.generationspot{
    width: 100px;
    height:40px;
    position:fixed;
    bottom: 500px;
    right:800px;
}
