.health1{
    width: 100px;
    height:40px;
    position:fixed;
    bottom: 150px;
    right: 122px;
}
.education1{
    /* width: 100px;
    height:40px; */
    position:fixed;
    bottom: 190px;
    right: 122px;
}
.environment1{
    width: 100px;
    height:40px;
    position:fixed;
    bottom: 320px;
    right: 122px;
}
.economic1{
    width: 100px;
    height:40px;
    position:fixed;
    bottom: 585px;
    right: 122px;
}
.economic2{
    width: 100px;
    height: 40px;
    position:fixed;
    bottom: 440px;
    right: 122px;
}
.environmenttitle{
    width: 100px;
    height:40px;
    position:fixed;
    bottom: 360px;
    right: 132px;
}
.generationspot{
    width: 100px;
    height:40px;
    position:fixed;
    bottom: 500px;
    right:800px;
}
